<div class="container">
  <div class="photo-block">
    <img src="../../assets/images/nastol.com.ua-118626.jpg" alt="photo">
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequuntur,
    dolor, ea enim, esse facilis impedit laudantium minima molestiae mollitia nisi odit
    perferendis praesentium reprehenderit sequi velit! Asperiores, non!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequuntur,
    dolor, ea enim, esse facilis impedit laudantium minima molestiae mollitia nisi odit
    perferendis praesentium reprehenderit sequi velit! Asperiores, non!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequuntur,
    dolor, ea enim, esse facilis impedit laudantium minima molestiae mollitia nisi odit
    perferendis praesentium reprehenderit sequi velit! Asperiores, non!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequuntur,
    dolor, ea enim, esse facilis impedit laudantium minima molestiae mollitia nisi odit
    perferendis praesentium reprehenderit sequi velit! Asperiores, non!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequuntur,
    dolor, ea enim, esse facilis impedit laudantium minima molestiae mollitia nisi odit
    perferendis praesentium reprehenderit sequi velit! Asperiores, non!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis consequuntur,
    dolor, ea enim, esse facilis impedit laudantium minima molestiae mollitia nisi odit
    perferendis praesentium reprehenderit sequi velit! Asperiores, non!
  </div>
</div>