<form>
  <md-input-container>
    <input mdInput placeholder="Название">
  </md-input-container>
  <md-input-container>
    <textarea mdInput placeholder="Место проведения"></textarea>
  </md-input-container>
  <md-input-container>
    <input mdInput [mdDatepicker]="from" [(ngModel)]="fromDate" placeholder="Choose a date" name="from">
    <button mdSuffix [mdDatepickerToggle]="from"></button>
  </md-input-container>
  <md-datepicker #from></md-datepicker>
  <md-input-container>
    <input mdInput [mdDatepicker]="till" [(ngModel)]="tillDate" placeholder="Choose a date" name="from">
    <button mdSuffix [mdDatepickerToggle]="till"></button>
  </md-input-container>
  <md-datepicker #till></md-datepicker>
  <button md-raised-button class="add-button">Добавить</button>
</form>
<div class="exhibitions-block">
  <div class="exhibition" *ngFor="let exhibition of exhibitions">
    <div class="title">"{{exhibition.title}}"</div>
    <div class="place">{{exhibition.place}}</div>
    <div class="date">{{exhibition.fromDate * 1000 | date}}</div>
    <div class="date">{{exhibition.tillDate * 1000| date}}</div>
  </div>
</div>
