<form>
  <md-input-container>
    <input mdInput placeholder="Название"
           [(ngModel)]="newExhibition.title"
           name="title">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Место проведения"
           [(ngModel)]="newExhibition.place"
           name="place"/>
  </md-input-container>
  <md-input-container>
    <input mdInput [mdDatepicker]="from"
           [(ngModel)]="fromDate"
           disabled
           placeholder="Дата начала" name="from">
    <button mdSuffix [mdDatepickerToggle]="from"></button>
  </md-input-container>
  <md-datepicker #from (selectedChanged)="convertTimeToTimestamp($event)"></md-datepicker>
  <md-input-container>
    <input mdInput [mdDatepicker]="till"
           [(ngModel)]="tillDate"
           disabled
           placeholder="Дата окончания" name="till">
    <button mdSuffix [mdDatepickerToggle]="till"></button>
  </md-input-container>
  <md-datepicker #till (selectedChanged)="convertTimeToTimestamp($event)"></md-datepicker>
  <button md-raised-button class="add-button" (click)="onSubmit()" [disabled]="!isValidForm()">Добавить</button>
</form>
<div class="exhibitions-block">
  <div class="exhibition" *ngFor="let exhibition of exhibitions">
    <div class="title">"{{exhibition.title}}"</div>
    <div class="place">{{exhibition.place}}</div>
    <div class="date">{{exhibition.fromDate * 1000 | date}}</div>
    <div class="date">{{exhibition.tillDate * 1000| date}}</div>
  </div>
</div>
